.form-custom {
    border: 0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1.5px solid rgb(168, 168, 168) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.fotoDetail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.fotoDetail::before {
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url('https://lpkaparepare.files.wordpress.com/2018/11/no-user-image1.gif');
    border-radius: 50%;
}

.fotoDetail2 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.fotoDetail2::before {
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 170px;
    background-image: url('https://lpkaparepare.files.wordpress.com/2018/11/no-user-image1.gif');
    border-radius: 50%;
}

.outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 200px !important;
    /* any size */
    max-height: 200px !important;
    /* any size */
    margin: auto;
    background-color: transparent !important;
    border-radius: 100%;
    position: relative;
}

.inner {
    background-color: #4B49AC;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 10px;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 27px;
}

.inner:hover {
    background-color: #3a388b;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.inputfile+label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    line-height: 50px;
    text-align: center;
}

a {
    color: inherit;
}